<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_medimate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_medimate"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClientSellingMedicine"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ProductActivity"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".DetailProductActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".NotificationActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".RegisteredAddressActivity"
            android:launchMode="singleTop"
            android:exported="false">
        </activity>
        <activity
            android:name=".AddAddressActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="false">
        </activity>
        <activity
            android:name=".HealthyNewsDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".RewardPointsHistoryActvity"
            android:exported="false">
        </activity>
        <activity
            android:name=".IndividualActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".MomoPaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="payment-completed" />

            </intent-filter>
        </activity>
    </application>


</manifest>